* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #504e76;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e026b;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: cursive;
}
.conten-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-logo {
  width: 50px;
}
.header a {
  color: rgb(250, 247, 248);
  text-decoration: none;
  margin-left: 15px;
}

.header a:hover {
  color: rgb(98, 96, 199);
}

.btn {
  margin-top: 20px;
  padding: 5px;
  background-color: #1e21e7;
  border: none;
  border-radius: 7px;
  color: aliceblue;
}

.btn:hover {
  background: rgb(37, 19, 97);
  transform: translateY(-8px) scale(1);
  box-shadow: 0px 10px 10px black;
  color: rgb(255, 255, 255);
}

.contenedor {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 100px;
}

.tarjeta {
  width: 400px;
  background: rgb(222, 20, 20);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Arial, sans-serif;
  transition: transform 0.3s;
}

/* Efecto al pasar el mouse */
.tarjeta:hover {
  transform: scale(1.05);
}

/* Imagen */
.tarjeta img {
  width: 100%;
  border-radius: 10px;
}

/* Título */
.tarjeta h2 {
  color: #333;
  margin: 15px 0 10px;
}

/* Texto */
.tarjeta p {
  color: #666;
  font-size: 14px;
}

/* Botón */
.tarjeta button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.tarjeta button:hover {
  background: #0056b3;
}

/* Tarjeta básica */
.tarjeta {
  width: 300px;
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Arial, sans-serif;
  transition: transform 0.3s;
}

/* Efecto al pasar el mouse */
.tarjeta:hover {
  transform: scale(1.05);
}

/* Imagen */
.tarjeta img {
  width: 100%;
  height: 25 vh;
  border-radius: 10px;
}

/* Título */
.tarjeta h2 {
  color: #333;
  margin: 15px 0 10px;
}

/* Texto */
.tarjeta p {
  color: #666;
  font-size: 14px;
}

/* Botón */
.tarjeta button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.tarjeta button:hover {
  background: #0056b3;
}

.video-seccion video {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 2px auto;
  border-radius: 4px;
}

.video-seccion {
  background-color: #c4c3e3;
  padding: 10px;
}

.video-seccion h2 {
  text-align: center;
  color: rgb(244, 242, 242);
  padding: 7px;
  margin-top: 7px;
  font-family: "Times New Roman", Times, serif;
}

.mi-fooder h1 {
  color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.hero {
  display: flex;
  justify-content: center;
  height: 100hv;
}

.bienvenidos {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.mi-footer {
  text-align: center;
  margin-top: 100px;
  background-color: #104379;
}
